<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ShoppingCart Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
     
        .navbar-brand {
            color: white !important;
        }

        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 18px;
                color: white;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
               top:30px;
                right: 0px;
                 font-size: 36px;
                /*margin-left: 40px;*/
                color: white;
            }

        #main {
            transition: margin-left .5s;
            /*padding: 16px;*/
        }

/*media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/
    </style>
</head>

<body>
    @if (Session["Email"] != null)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @if (Session["Role"] != null)
                    {
                        @Html.ActionLink("My Shopping", "Display", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    else
                    {
                        @Html.ActionLink("My Shopping", "Display", "Home", new { area = "" }, new { @class = "navbar-brand" })

                    }
                    @*<div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" style="color:white;">
                            <li><a style="color:white; margin-left:-30%; height:100%; width:100%" href="UserDataDisplay">MY SHOPPING</a></li>
                        </ul>
                    </div>*@
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="color:white;">


                        @if (Session["Role"] != null)
                        {
                         
                            <li class="dropdown">
                                <a href="#" style="color:white" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Product <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        @*<a href="Create">Add Product</a>*@
                                       @Html.ActionLink("Add Product", "Create","Home",new { @class = "btn" })

                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white">Admin<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@*<a href="AddUser">AddUser</a>*@
                                    @Html.ActionLink("AddUser","AddUser","Home",new { @class="btn"})
                                    </li>

                                </ul>
                            </li>
                        }
                      

                    </ul>

                 
                     <div class="navbar-header nav navbar-nav navbar-right">

                        @if (Session["Email"] != null)
                        {
                            <li style="margin-top:10px; margin-right:15px;">

                                @using (Html.BeginForm("Display", "Home", FormMethod.Get))
                                    {
                                        @Html.TextBox("searching", null, new { @style = "height:34px;", @placeholder = "Product Name" })

                                        <button class="btn btn-info" value="Search" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    }
                             
                               
                                            @*@Html.TextBox("searching", null, new { @style = "height:34px;", @placeholder = "Product Name" })

                                            <button class="btn btn-info" id="submitMethodBtn" value="Search" type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>*@
                                 
                            </li>

                            <li  class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white">
                                    @*Welcome @Session["Email"].ToString()*@
                                    Welcome @Session["FirstName"].ToString()&nbsp;@Session["LastName"].ToString()
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        
                                        @Html.ActionLink("View Orders", "CheckOrders", "Home", new { @class = "btn" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("My Profile","UserProfile","Home",new { @class = "btn" })
                                    </li>

                                </ul>
                            </li>

                            @*@Html.ActionLink("Logout", "LogOut", "Home");*@
                            <li>@Html.ActionLink("Logout", "LogOut", "Home", new { @class = "nav" })</li>
                            // <li style="margin-top:10px;"><button>@Html.ActionLink("Cart ", "AddToCart")<span class="glyphicon glyphicon-shopping-cart"></span></button></li>
                       
                        }
                         @if (Session["Role"] != null)
                         {
                             <ul class="nav navbar-nav">

                                 <li class="active">
                                     <a href="@Url.Action("MyorderPartialAdmin", "Home")" class="btn btn-info btn-sm">
                                         <span class="glyphicon glyphicon-shopping-cart" style="color:white"></span>Cart <span id="spnCart" style="color:black" class="badge">@ViewBag.cartCount@*@Session["count"]*@</span>
                                     </a>
                                 </li>
                             </ul>
                         }
                         else
                         {
                             <ul class="nav navbar-nav">

                                 <li class="active">
                                     <a href="@Url.Action("MyorderPartial", "Home")" class="btn btn-info btn-sm">
                                         <span class="glyphicon glyphicon-shopping-cart" style="color:white"></span>Cart <span id="spnCart" style="color:black" class="badge">@ViewBag.cartCount@*@Session["count"]*@</span>
                                     </a>
                                 </li>
                             </ul>
                         }


                    </div>
                </div>


            </div>

        </div>
      
   
        @*<div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">@Html.Action("SearchPartial","Home")
            </a>
  
        </div>*@
    }


   
    <script>
        function openNav() {
            //document.getElementById("mySidenav").style.width = "200px";
            //document.getElementById("main").style.marginLeft = "160px";
           // document.getElementById("main").style.marginRight = "-45px";

            document.getElementById("mySidenav").style.width = "200px";
            //document.getElementById("main").style.marginLeft = "160px";
           // document.getElementById("main").style.marginLeft = "140px";
            document.getElementById("main").style.marginLeft = "175px";
            //document.getElementById("main").style.marginRight = "-67px";
            document.getElementById("main").style.marginRight = "-30px";
            document.getElementById("pageSize").style.marginRight = "30px";
           
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("main").style.marginRight = "0";
            document.getElementById("pageSize").style.marginRight = "0"
        }
    </script>
  
        <div class="container body-content">

            <div id="main">
                @*<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>*@

                @RenderBody()
            </div>

            <hr />
            <footer>
                @*<p>&copy; @DateTime.Now.Year -ASP.NET Application</p>*@
            </footer>
        </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
