@*@model IEnumerable<UploadDataToDB.ViewModel.ContentViewModel>*@

@model PagedList.IPagedList<UploadDataToDB.ViewModel.ContentViewModel>
@using PagedList.Mvc;
<style>
    .adress {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /*max-width: 800px;*/
    }

    .box {
        width: 100%;
        height: 100%;
        border: 1px solid Black;
        box-sizing: border-box;
    }

    .dropdown-menu {
        min-width: 130px !important;
    }
    /*.body-content {
        margin-right: -15px !important;
        margin-left: 40px !important;
    }*/
    /*.btn{width:30px;}*/

    .adress:hover {
        overflow: visible;
        white-space: normal;
        width: initial;
        position: relative;
        background-color: #FFF;
    }

    .col-md-8 {
        width: 71% !important;
    }
 
</style>

@*<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
          

            <div class="container" style="text-align:center!important">
                <div class="model-header">
                    <button type="button" id="closbtn" class="close text-center" data-dismiss="modal" aria-hidden="true">×</button>
                 
                </div>

                <hr />
                <label class="text-center">Please Select the User</label>
                <br /><br />
                <div>
                    <label for="field" style="color:black; align-content:center;">User &nbsp;</label> &nbsp;&nbsp;<span style="color:black;">:</span>
                    @Html.DropDownList("UserList", new SelectList((IEnumerable<UploadDataToDB.ViewModel.UserDataViewModel>)ViewBag.User, "UserId", "FirstName"), new { @style = "width:115px; Height:30px; text-align:right;" })
                </div>
                <input type="hidden" id="UserList" value="@ViewBag.User" />
                <br />
                <br />
            </div>
        </div>
    </div>

</div>*@   
@foreach (var item in Model)
{

    <div class="body-content box content">
        <div class="panel-group row">
            @*col-sm-3 col-md-6*@@*width="250" height="250"*@
            @*<div class="panel-body dl-horizontal col-sm-6 col-md-4">*@

            <div class="a-fixed-left-grid-col a-col-left" style="float:left;">
                <div class="a-row">
                    <div aria-hidden="true" class="a-column a-span12 a-text-center">
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="200" height="200" />
                        <div class="a-section a-spacing-none a-text-center">
                        </div>
                    </div>
                </div>
            </div>

          
            @*<img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="170" height="170" />

                </div>*@
            @*col-sm-9 col-md-6*@

            <div class="col-sm-9 col-md-8  decription text-left">
                <b id="ID" class="hidden">@Html.DisplayFor(modelitem=>item.ID)</b>
                <div class="panel-body ">

                    <b>Name: </b>
                    @Html.ActionLink(item.Name, "ProductDetails", "Home", new { id = item.ID }, null /* html attributes */)



                    <div>
                        <b>Brand:</b>  @Html.DisplayFor(modelitem => item.BrandDesc)
                    </div>
                    <div>
                        <b>Category:</b>   @Html.DisplayFor(modelitem => item.CategoryDesc)
                    </div>
                    <div class="adress">
                        <b>  Description:</b>
                        @Html.DisplayFor(model => item.Description)
                    </div>
                    <br />
                    <div>
                        <b>Price : </b> @Html.DisplayFor(modelitem => item.price)
                    </div>
                </div>
            </div>
            <div style="float:right;">

                <br />

                @if (Session["Role"] != null)
                {             <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="margin-right:30px;" id="Action" role="button" aria-expanded="false">Action</a>
                <ul class="dropdown-menu text-center" style="position:relative!important; margin-right:-100px;top:30px;" role="menu">
                    <li class="btn btn-info btn-sm" style="width:115px; height:30px;">  @Html.ActionLink("Edit", "Edit", new { id = item.ID })</li>
                    <br />

                    <li class="btn navbar-btn btn-info btn-sm" style="width:117px; height:30px;">
                        @Html.ActionLink("Delete", "Delete", "Home", new { id = item.ID },
                   new { onclick = "return confirm('Are you sure you wants to delete this record?');" })
                    </li>
                    <li>
                        <div>
                            <a id="@item.ID" class="btn_AddToCartbyAdmin btn btn-info" style="height:30px;">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
                            </a>
                        </div>

                    </li>

                </ul>
                }
                else
                {
                    <div>
                        <a id="@item.ID" class="btn_AddToCart btn btn-info" style="height:30px; width:112px; margin-right:15px" onclick="AddtoCart()">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
                        </a>
                    </div>
                }

            </div>
            <input type="hidden" id="pageNumberValue" value="@ViewBag.pageNumber" />
            <input type="hidden" id="PageCount" value="@Model.PageCount" />
        </div>
    </div>
    <br />
    
    
}
<div id="wait" style="display:none;width:69px;height:69px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;"><b class="loader" width="64" height="64"><br>Loading..</b></div>

@if(Model.PageCount==0)
{
    <div class="text-center">
        <label style="color:red;">No Any Product</label>

    </div>
}
<div colspan="3" class="pager">
    @*<input type="button" class="btn " id="btnFirst" value="First" />
    <input type="button" class="btn " id="previous" value="Previous" />*@

    <a><label>Page @Model.PageNumber of @Model.PageCount </label></a>

    @*<input type="button" class="btn" id="next" value="Next" />
    <input type="button" class="btn" id="btnLast" value="Last" />*@
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $('.btn_AddToCart').click(function (e) {
        var productid = $(this).attr("id");

        var UserId = '@Session["UserId"].ToString()';

            $.ajax({
                url: "/Home/Add",

                datatype: "text",
                type: "Get",
                data: { ProductId: productid, UserId: UserId },

                success: function (data) {
                    $('#contentModel').html(data)

                },
                error: function (xhr) {
                    alert(xhr.statusText);
                }
            });
    });


        $('.dropdown-toggle').click(function (e) {
        $('.dropdown-toggle').dropdown();
        });


            var PageNumber = $("#pageNumberValue").val();
            var PageCount = $("#PageCount").val();
            if (PageNumber == 1 && PageCount == 1) {
                $('#btnFirst').prop("disabled", true);
                $('#next').prop("disabled", true);
                $('#btnLast').prop("disabled", true);
                $('#previous').prop("disabled", true);
            }
            else {


                if (PageNumber == 1) {
                    $('#previous').prop("disabled", true);
                    $('#btnFirst').prop("disabled", true);
                    $('#next').prop("disabled", false);
                    $('#btnLast').prop("disabled", false);
                }
                if (PageNumber == PageCount) {
                    $('#next').prop("disabled", true);
                    $('#btnLast').prop("disabled", true);
                    $('#btnFirst').prop("disabled", false);
                    $('#previous').prop("disabled", false);
                }
            }


            $(document).ready(function () {
                $(document).ajaxStart(function () {
                    $('#wait').css("display", "block")
                    //$('.body-content').css("filter", "blur(3px)");
                    $('.body-content').fadeOut(500);
                     $(".body-content").fadeIn(500);
                    //$(".body-content").fadeOut(500, function () {
                    //    $(".body-content").fadeIn(500);
                    //});

                });
                $(document).ajaxComplete(function () {
                    $("#wait").css("display", "none");
                    $('.body-content').css("filter", "none");
                });

            });



  $(function () {
                $('.btn_AddToCartbyAdmin').click(function (e) {
                    var UserList = $('#UserList').val();
                 

                    if (UserList == 0 || UserList=="1")
                    {
                        alert("Please select the User");
                        @*@ViewBag.ErMessage;*@

                    }
                    else {

                         var productid = $(this).attr("id");
                       var UserId = $('#UserList').val();

                    $.ajax({
                          url: "/Home/Add",

                          datatype: "text",
                          type: "Get",
                          data: { ProductId: productid, UserId: UserId },

                         success: function (data) {
                          $('#contentModel').html(data)

                          },
                          error: function (xhr) {
                          alert(xhr.statusText);
                                  }
                         });
                    }

      });

                $('#UserList').change(function () {
                    var UserList = $('#UserList').val();
                
                });
                //$("#closebtn").on('click',function(){
                //    $('#myModal').modal('hide');

                $("#closbtn").click(function () {
                    $('#myModal').modal('hide');
                });
            });
</script>
