@*@model IEnumerable<UploadDataToDB.Models.Order>*@
@model IEnumerable<UploadDataToDB.ViewModel.OrderViewModel>
@{
    ViewBag.Title = "CheckOrders";
}

@*<td> <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="200" height="150" /></td>*@

@*<h2>Your Orders</h2>*@

       @foreach (var item in Model)
       {

        <div class="jumbotron" style="height:150px;margin-top:15px; margin-bottom:15px; line-height:1.4;font-size:15px;">
            <div style="margin-top:-19px;">
             
                @*@Html.ActionLink("Profile", "OrderClick", "Home", new { OrderId = item.OrderId.ToUpper() }, null)*@
                <a href="@Url.Action("OrderClick","Home",new { OrderId = item.OrderId.ToUpper()})">
                    @*<a class="orderclick" id="@item.OrderId">*@
                    OrderId <b style="margin-left:30px; margin-right:5px;"> :</b> <b>@Html.DisplayFor(modelItem => item.OrderId)</b>
                </a>

                <div>
                    OrderStatus <b style="margin-right:5px;"> :</b>  <b>
                        @Html.DisplayFor(modelItem => item.OrderStatus)

                </b>
              </div>

                <div>
                  Date <b style="margin-left:48.5px; margin-right:3px;"> :</b> <b>@item.DateTime.Value.ToString("ddd")</b> &nbsp;
                    <b>
                        @item.DateTime.Value.ToString("dd MMM yyyy")
                </b>
            </div>

        
            <div>
                Total Price<b style="margin-left:9.5px;margin-right:5px;"> :</b><b>@Html.DisplayFor(modelItem => item.Price)</b>
            </div>
            <div>
              No. of Items<b style="margin-left:-1px; margin-right:5px;"> :</b><b>@Html.DisplayFor(modelItem => item.Quantity)</b>&nbsp; Items
            </div>
        </div>

    </div>

       }



<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    //$('.orderclick').click(function () {

    //    var OrderId = $(this).attr("id");
    //    alert(OrderId);
            

    //        $.ajax({
    //            url: "/Home/OrderClick",

    //            datatype: "text",
    //            type: "Get",
    //            data: { OrderId: OrderId },

    //            success: function (result) {
                  
    //               // return $(this).attr("data"); 

    //            },
    //            error: function (xhr) {
    //                alert(xhr.statusText);
    //            }
    //        });

    //    });
</script>

